:root{
    --fundo-do-body: white;
    ---cor-do-menu: #352D39;
    --cor-de-decoracao-do-link: #A1CDF4;
    --cor-do-section: #352D39;

}


body{

    background-color:var(--fundo-do-body);
    margin-left: 100px;
    margin-right: 100px;
}

header{
    text-align: center;
    background-color: var(---cor-do-menu);
    border-radius: 20px;
    color: white;
}