/*
nyanza: #e5f9e0
Cardo: #DBC2CF
beringela: #6D435A
Uva passa preta: #352D39
Encouraçado cinza: #77867F
cor de decoração do link: #A1CDF4
Floral branco: #FFF8F0
cor de menta: #00B17C
céu claro azul: #A1CDF4
*/
:root{
    --fundo-do-body: white;
    ---cor-do-menu: #352D39;
    --cor-de-decoracao-do-link: #A1CDF4;
    --cor-do-section: #352D39;
}

body{
    background-color: var(--fundo-do-body);
    margin-left: 100px;
    margin-right: 100px;
}

header{

    text-align: center;
    background-color: var(---cor-do-menu);
    border-radius: 20px;
    color: white;
    
}

li{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    font-size: 30px;
}

a{

    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    color: var(--cor-de-decoracao-do-link);
}

h1{
    text-align: center;
    color: white;
    border-radius: 20px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 40px;
}
section{
    background-color: var(--cor-do-section);
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

h2{
    text-align: center;
    margin-top: 20px;
}


article{

    text-align: center;
}

p{
    padding: 10px;
    line-height: 1.5;
    margin-left: 20px;
}

label{
    padding: 20px;
    font-size: 20x;
}

input{

    margin-top: 30px;
    margin-right: 40px;
}


img{

    height: 325px;
    margin-top: 20px;
}

/*Aqui trabalharemos classes*/

.exercicios{

    text-decoration: underline;
    color: var(--cor-de-decoracao-do-link);
}

